<mat-card>
  <mat-card-header>
    <mat-card-title>Entrada de Datos</mat-card-title>
    <mat-card-subtitle>Información a ingresar de libros</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-product></app-product>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Listado de Libros</mat-card-title>
    <mat-card-subtitle>Almacenamiento en la base Realtime</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-product-list></app-product-list>
  </mat-card-content>
</mat-card>

