<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">

  <mat-form-field>
    <input matInput
      type="text"
      name="name"
      #name="ngModel"
      [(ngModel)]="productService.selectedProduct.name"
      placeholder="Add Product Name"
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput
      type="text"
      name="category"
      #category="ngModel"
      [(ngModel)]="productService.selectedProduct.category"
      placeholder="Add Product Category"
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput
      type="text"
      name="location"
      #location="ngModel"
      [(ngModel)]="productService.selectedProduct.location"
      placeholder="Add Product Location"
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput
      type="text"
      name="price"
      #price="ngModel"
      [(ngModel)]="productService.selectedProduct.price"
      placeholder="Add Product Price"
    >
  </mat-form-field>

  <div style="margin-top: 2%">
    <button mat-raised-button color="primary" type="submit" style="margin-right: 1%">
      Add Product
      <i class="fas fa-plus-circle"></i>
    </button>
    <button mat-raised-button color="primary" type="reset" (click)="resetForm(productForm)">
      Reset
      <i class="fas fa-sync-alt"></i>
    </button>
  </div>
</form>
